# Instalar como /root/.config/gr-contador-sync.env com permissao 600.
# Nunca preencher nem versionar a senha neste arquivo de exemplo.
SOURCE_DB_HOST=sistemasrjd.com.br
SOURCE_DB_PORT=3306
SOURCE_DB_USER=
SOURCE_DB_PASSWORD=
SOURCE_DB_NAME=sistem84_impressoras
SOURCE_DB_SSL_MODE=DISABLED

